# Capa global ApiConsultas (ambos módulos)
VITE_BITAL_API_BASE_URL=http://186.190.254.230:8080/api/v1
VITE_BITAL_API_HEALTH_URL=http://186.190.254.230:8080/health

# Toggle mock/HTTP por módulo
VITE_DIETAS_COCINA_API=true
VITE_ENCUESTAS_API=true
